<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="head">
  <div class="logo">
    <a href="/"><h3>jobin</h3></a>
  </div>
  <div class="buttons">
    <a href="/new" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <% if (locals.canSave){ %>
    <button class="btn" type="submit"><i class="fas fa-save"></i></button>
    <% } %>
    <% if (locals.id != null) { %>
          <a href="/<%= locals.id %>/raw" class="btn"><img src="/raw.svg"></img></a>
          <a href="/<%= locals.id %>/duplicate" class="btn"><i class="fa fa-clone" aria-hidden="true"></i></a>
    <% } %>
  </div>
</div>